<footer id="footer" class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-md-offset-3">
                <div class="footer-inner">
                    <div class="row">
                        <div class="col-sm-6">
                            <h2 class="title">About takisejr</h2>
                            <p>
                                Software Engineer at Google based in Tokyo, working on Chrome and Android.
                            </p>
                        </div>
                        <div class="col-sm-6">
                            <h2 class="title">Contact</h2>
                            <ul>
                                <li>
                                    Email: takisejr [at] gmail.com
                                </li>
                                <li>
                                    Location: Ebusu Tokyo JP
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>