<meta charset="UTF-8">
<title>TAKISEJR.</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="format-detection" content="telephone=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="robots" content="noindex" />

<link rel='stylesheet' href='//fonts.googleapis.com/css?family=Montserrat:400,600,700%7CLato:400,700' type='text/css' media='all' />

<link rel="stylesheet" type="text/css" href="/assets/css/libs/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="/assets/css/libs/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/assets/css/libs/justifiedGallery.min.css">
<link rel="stylesheet" type="text/css" href="/assets/css/libs/magnific-popup.css">
<link rel="stylesheet" type="text/css" href="/assets/css/styles.css">