<div class="header affix menu-right">
    <div class="table">
        <div class="table-cell">
            <!-- Logo -->
            <div class="logo">
                <a href="/">TAKISEJR.</a>
            </div>
            <!-- End Logo -->

            <!-- Navigation -->
            <div class="main-menu">
                <nav>
                    <ul class="menu-list">
                        <li class="active">
                            <a href="/">Blog</a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" id="side-menu-movies">Memo</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <!-- End Navigation -->

            <!-- Socials -->
            <div class="socials">
                <a href="https://www.facebook.com/kazukitakise" title="Facebook">
                    <i class="fa fa-facebook"></i>
                </a>
                <a href="https://www.instagram.com/takisejr/" title="Instagram">
                    <i class="fa fa-instagram"></i>
                </a>
                <a href="https://twitter.com/takisejr" title="Twitter">
                    <i class="fa fa-twitter"></i>
                </a>
            </div>
            <div class="box-search">
                <div class="table">
                    <div class="table-cell">
                        <div class="container">
                            <form class="search-form" action="#" method="get">
                                <input type="search" name="s" class="search-field" placeholder="Type &amp; hit enter" value="" title="Search">
                                <div class="kd-close">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Socials -->

            <div class="copyright">
                <p>
                    TAKISEJR @ 2020. Design by Takise
                </p>
            </div>

        </div>
    </div>
</div>